@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body {
    font-family: 'Inter', Arial, sans-serif;
}
/* GENERAL */

button {
    border-radius: 4px;
    border: none;
    padding: 7px;
    width: 180px;
    height: 40px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.primary {
    background: #3e6ae1;
    color: white;
}

.secondary {
    background: #fff;
    color: black;
}


/* NAVIGATION-SECTION */

/* General SELECTOR, selects all images */
img {
    width: 25px;
    height: 25px;
}

/* This is a more specific type of SELECTOR that uses an id */
.logo {
    width: 125px;
}


/* Justified content and space between everything inside the nav* /
/* This is a combination of items that youll end up using frequently */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
}

nav a {  /* Targets the navbar items */
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

#navbar-elements {
    display: flex;
    gap: 32px;
}

#icons {
    cursor: pointer;
}

/* HERO-SECTION */


main {
    height: 800px;


}


#hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("resource/banner.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;

}

#hero div{
    margin-top: 24px;
}

#hero h3, #hero p {
    color: white ;
    margin: 0;
}

h3 {font-size: 48px;}

p {font-size: 20px;}

/* CAROUSEL */

#carousel {           /* contains all our cards from 1-4 */
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 20px;

/* adding the scroll */

    overflow-x: auto; /* this controls the horizontal scrolling using the middle mouse button */
    overflow-y: hidden;
    padding-bottom: 20px;
}

.card {
    flex: 0 0 1126px; /* increased the size of the cards so that the overflow enables */
    height: 580px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;

    border-radius: 15px;
    padding: 10px;
    color: white;

}
.card-1 {
    background: url(resource/card-1.jpg) center center no-repeat;
    background-size: cover;
}

.card-2 {
    background: url(resource/card-2.jpg) center center no-repeat;
    background-size: cover;
}

.card-3 {
    background: url(resource/card-3.jpg) center center no-repeat;
    background-size: cover;
}

.card-4 {
    background: url(resource/card-4.jpg) center center no-repeat;
    background-size: cover;
}